autostart
chromium
coc
dconf
fcitx
fcitx5
flameshot
glib-2.0
google-chrome
gtk-3.0
ibus
microsoft-edge-dev
pulse
VirtualBox
GIMP
gtk-2.0
retroarch
obs-studio
htop
gthumb
xfce4
tmux/plugins
qt5ct
/lazygit/state.yml
nvim
3T
configstore
eDEX-UI
libreoffice
mpd.db
mpd.log
mpdstate
sticker.sql
error.log
mimeapps.list
QtProject.conf
inkscape
microsoft-edge
microsoft-edge-beta
.netrwhist
